<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEP - {{ db_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/bootstrap-icons.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/database-fill.svg') }}" type="image/icon type">
</head>

<body class="d-flex align-items-center justify-content-center min-vh-100">

    <div class="position-absolute top-0 start-0 p-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/opendb">Open Database</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ db_name }}</li>
            </ol>
        </nav>
    </div>

    <div class="col-10 col-lg-6">
        <div class="container text-start col-12 col-lg-8">
            <h1>{{ db_name }}</h1>
            <hr>
            <p>Select a table from the following list to perform operations on its data.</p>
            <hr>
            <form class="g-3" method="POST" id="table_form">
                <div class="row g-3">
                    <div class=" col-8 mb-3 mt-5">
                        <label for="table_name" class="form-label"><b>Table</b></label>
                        <select class="form-select mb-3" id="table_name" name="table_name" required>
                            {{ select_options | safe }}
                        </select>
                    </div>
                </div>
                <div class="clearfix">
                    <button type="button" class="btn btn-primary float-start" onclick="submit_table('{{ db_name }}')">Select Table</button>
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>